button{
    width: 163px;
    height: 63px;
    border-radius: 4px;
    text-align: center;
    border-radius: 7px;
    margin-left: 15px;
}
.primary{
    border-style: none;
    font-size: 30px;
    border-color: rgb(24, 144, 255);
    background-color: rgb(24, 144, 255);
    color: rgb(255, 255, 255);
}
.default{
    border-style: solid;
    font-size: 30px;
    background-color: white;
    border-color: rgb(214, 212, 212);
    color: gray;
}
.dashed{
    border-style: dashed;
    border-color: gray;
    font-size: 30px;
    color: gray;
    background-color: white;
}
.danger{
    border-style: solid;
    border-color: rgb(209, 209, 209);
    font-size: 30px;
    color: rgb(196, 0, 0);
    background-color: rgb(243, 243, 243);
}
.container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}